body
{
    margin: 0;
}

.container
{
    position: absolute;
    display: flex;
    width: 50vw;
    top: 25%;
    left: 25%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 600px;
}

.element
{
    display: flex;
    width: 47%;
    align-items: space-between;
    flex-direction: column;
    margin: 10px;
    min-width: 250px;
}

.row
{
    width: 100%;
    display: flex;
}

.nick
{
    width: 100%;
    height: 30px;
}

.force
{
    height: 30px;
    width: 100%;
    font-size: 18px;
}

#submit
{
    width: 51%;
    height: 30px;
    margin-top: 10px;
}

.position
{
    margin-left: 10px;
}

#results
{
    position: absolute;
    border: 1px solid;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    top: 10%;
    left: 30%;
    background-color: rgb(212, 212, 212);
    justify-content: space-between;
    display: none;
}

table
{
    width: 80%;
    font-size: 20px;
    height: 80%;
}

td
{
    text-align: center;
    width: 33%;
}

.buttonBar
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center; 
}

.buttonBar > *
{
    width: 30%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

@media only screen and (orientation: portrait)
{
    .container
    {
        min-width: 80%;
        left: 12.5%;
        top: 10px;
    }

    .force
    {
        font-size: 12px;
    }

    table
    {
        font-size: 20px;
        height: 80%;
    }

    #results
    {
        width: 80%;
        left: 10%;
    }
}